{% extends "base.html" %}
{% block title %}
    Get Quote
{% endblock %}
{% block content%}
    
<head>  
<link rel = "icon" href = "../static/images/icon.png" type = "image/x-icon"> 
<link rel="stylesheet" type="text/css" href="../static/Styles/styling.css">   
</head>

<form method = "POST">
<body>
     <center> <h1 style="color: rgb(11, 17, 202); font-family: Yeseva One;">Fuel Quote Form</h1> </center>
     <form id="quote_form" method="POST" action="#">   
        <div class="container_long_page">
            <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="Total_Gallons_Requested">Gallons Requested: </label>
                <input 
                    type="number" 
                    id ="Total_Gallons_Requested"
                    name="Total_Gallons_Requested"
                    placeholder="Enter Gallons of Fuel"
                    maxlength = "5" 
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="address1">Delivery Address: </label>
                <input 
                    type="text"  
                    id="delivery_Address"
                    name="delivery_Address"
                    value="{{address}}, {{state}} - {{zipcode}}"
                    placeholder="Address (Same as client profile address)"
                    readonly
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="Order_date">Delivery Date: </label>
                <input 
                    type="date"
                    id="delivery_date"      
                    name="delivery_date"
                    required
                >
                <button type="submit">Get Quote</button>
        </div>
      </form>
</body>


</form>
{% endblock %}
