{% extends "base.html" %}
{% block title %}
    Assignments
{% endblock %}
{% block content%}

<head>  
    <link rel = "icon" href = "../static/images/icon.png" type = "image/x-icon">  
    <link rel="Stylesheet" type="text/css" href="../static/styles/styling.css"> 
    </head>


    <form method = "POST">
        <center>
            <h1 style="color: rgb(11, 17, 202); font-size: 40px ; font-family: 'Times New Roman', Times, serif;">Course     : COSC 4353 Software Design</h1>         
            <h1 style="color: rgb(11, 17, 202); font-size: 40px ; font-family: 'Times New Roman', Times, serif;">Instructor : Dr. Raj Singh</h1>       
        </center>
        <body>   
            <div Class = "container">
                <p style = "font-size: 25px; font-family: 'Times New Roman', Times, serif;"> Assignment 1
                    <a href="../static/Files/Assignments/Assignment_1.docx" target="blank" style="font-family: 'Times New Roman', Times, serif;">Download</a>
                </p>

                <p style = "font-size: 25px; font-family: 'Times New Roman', Times, serif;"> Assignment 2
                    <a href="../static/Files/Assignments/Assignment_2.docx" target="blank" style="font-family: 'Times New Roman', Times, serif;">Download</a>
                </p>

                <p style = "font-size: 25px; font-family: 'Times New Roman', Times, serif;"> Assignment 3
                    <a href="../static/Files/Assignments/Assignment_3.docx" target="blank" style="font-family: 'Times New Roman', Times, serif;">Download</a>
                </p>

                <p style = "font-size: 25px; font-family: 'Times New Roman', Times, serif;"> Assignment 4
                    <a href="../static/Files/Assignments/Assignment_4.docx" target="blank" style="font-family: 'Times New Roman', Times, serif;">Download</a>
                </p>
            </div>
        </body>    

    </form>
{% endblock %}
