{% extends "base.html" %}
{% block title %}
    Fuel Go - Home page
{% endblock %}
{% block content%}

<head>  
    <link rel = "icon" href = "../static/images/icon.png" type = "image/x-icon">  
    <link rel="Stylesheet" type="text/css" href="../static/styles/styling.css"> 
    </head>



    <form method = "POST">
        <div class="container_long_page">
        <body>   
            <center> <h1 style="color: rgb(11, 17, 202); font-size: 60px ; font-family: Papyrus"> We bring the fuel, you bring the memories... </h1> </center>
        </body>    
            <div class="social_container">
                <center> <h1 style="color: rgb(255, 38, 0); font-weight: bold; font-size: 50px ; font-family: Papyrus;">Save Money AND Time!!</h1>
                <br>
                <h1 style="color: rgb(0, 0, 0); font-size: 20px ; font-family: Papyrus;">Dont want to waste time at gas station? Not to worry Fuel Go has you covered.</h1>
                <h1 style="color: rgb(0, 0, 0); font-size: 20px ; font-family: Papyrus;">We do it cheap, easy and fast. Why bother with long lines, dirty bathrooms and greasy food at gas stations, when the fuel can come to you?</h1>
                <br>

                <h1 style="font-size:large; color:rgb(4, 0, 255); font-family: Papyrus;">Get your free quote today!!<a href="/home_login_page" style="font-family: Papyrus;"> Login Here </a>  </h1>
                <h1 style="font-size:large; color:rgb(4, 0, 255); font-family: Papyrus;">Don't have an account? <a href="/home_registration" style="font-family: Papyrus;"> Register Here </a>  </h1> 
               
                </center>
                <br> 
                <center>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
                    <div class="wrapper">
                        <div class="button">
                            <div class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <span>Facebook</span>
                        </div>

                        <div class="button">
                            <div class="icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <span>Twitter</span>
                        </div>

                        <div class="button">
                            <div class="icon">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <span>Instagram</span>
                        </div>

                        <div class="button">
                            <div class="icon">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <span>YouTube</span>
                        </div>
                    </div>
                </center>
               
            </div>
       
     </div>
  
    
    </form>
{% endblock %}
