{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}
{% block content%}

  
<head>  
<link rel = "icon" href = "../static/images/icon.png" type = "image/x-icon">  
<link rel="stylesheet" type="text/css" href="../static/Styles/styling.css">   
</head>

<form method = "POST">   
<body>
    <br> <br> <center> <h1 style="color: black; font-family: Yeseva One;"> CREATE ACCOUNT </h1> </center>   
        <div class="container">
                        <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="user">User Name: </label>
                            <input
                                type="text"
                                id="username"
                                name="username"
                                placeholder="Enter Username"
                                required
                            >
                        <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="email">Email: </label>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                placeholder="Enter email"
                            >
                        <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="password1">Password: </label>
                            <input
                                type="password"
                                id="password1"
                                name="password1"
                                placeholder="Enter a password"
                                required
                            >
                        <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="password2">Confirm Password: </label>
                            <input
                                type="password"
                                id="password2"
                                name="password2"
                                placeholder="Re-enter password"
                                required
                            >
                   <br>
                   <button type="submit">REGISTER</button> <br>
                   <center>       
                   <h1 style="font-size:large" style="color:rgb(4, 0, 255)">Already have an account? <a href="/loginpage"> Sign in </a>  </h1>
                   </center>       
    </div>
    
</body>     
  
</form>
{% endblock %}
